@{
    ViewBag.Title = "About Us";
}

<style type="text/css">
    h2
    {
        text-align: center;
        font-size: 30px;
    }
    #booksTable
    {
        border-style: none;
        text-align: center;
    }
</style>

<h2>Paul Mendoza</h2>
<h2>
     mendoza.paul@gmail.com

</h2>

<h2>www.PaulDMendoza.com</h2>



<h1>Good JavaScript Books</h1>
<table width="100%" id="booksTable">
    <tr>
        <td>
        <h3>Javascript Patterns <br /> by Stoyan Stefanov</h3>
<img src="http://ecx.images-amazon.com/images/I/51ijGV-axgL._BO2,204,203,200_PIsitb-sticker-arrow-click,TopRight,35,-76_AA300_SH20_OU01_.jpg" />

        
        
        
        </td>
        <td>
            <h3>JavaScript: The Good Parts <br />by Douglas Crockford</h3>
        <img src="http://ecx.images-amazon.com/images/I/51YIYr01vsL._BO2,204,203,200_PIsitb-sticker-arrow-click,TopRight,35,-76_AA300_SH20_OU01_.jpg" />

        </td>
    </tr>
</table>
<br />
