@{
    ViewBag.Title = "Home Page";
}

<h2>Paul Mendoza's Maintainable JavaScript Walkthrough</h2>

This site is composed of JavaScript tools and demos for a presentation on how to build maintainable JavaScript.

<h3>Awesome JavaScript Examples</h3>
<a href="http://alteredqualia.com/three/examples/webgl_terrain_dynamic.html">Terrain Generation</a>
<br/>
<a href="http://madebyevan.com/webgl-water/">Water Simulation</a>
<br/>
<a href="http://lights.elliegoulding.com/">Music Visualization</a>
<br/>
<a href="http://mrdoob.github.com/three.js/examples/webgl_materials_shaders_fresnel.html">Bubbles Demo</a>
<br/>
<a href="http://bellard.org/jslinux/">JS Linux</a>
<br/>
<a href="http://mbebenita.github.com/Broadway/broadway.html">H.264 Decoder</a>
<br/>
<a href="http://trends.builtwith.com/javascript/jQuery">jQuery Usage</a>



