@{
    ViewBag.Title = "Playground";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sample Page</h2>

<h3>console output</h3>
<div id="consoleOutput">
    

</div>

<script src="/Scripts/Home/Playground.js"></script>
<script src="/Scripts/Home/WorkingSpace.js"></script>

